#textsContainer {
  display: flex; /* Usa flexbox para o layout do contêiner de textos */
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  padding: 10px 10px; /* Preenchimento interno do contêiner */
}